absl-py==1.1.0
anyio==3.6.1
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
astunparse==1.6.3
async-generator==1.10
attrs==21.4.0
Babel==2.10.3
backcall==0.2.0
Beaker==1.11.0
beautifulsoup4==4.10.0
bleach==5.0.0
btrfsutil==5.18.1
CacheControl==0.12.6
cachetools==5.2.0
certifi==2022.6.15
cffi==1.15.1
chardet==4.0.0
chrome-gnome-shell==0.0.0
colorama==0.4.5
commonmark==0.9.1
cryptography==37.0.2
cycler==0.11.0
debugpy==1.6.2
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
distlib==0.3.4
distro==1.7.0
docutils==0.19
entrypoints==0.4
executing==0.8.3
fastjsonschema==2.15.3
flatbuffers==1.12
fonttools==4.34.3
future==0.18.2
gast==0.4.0
google-auth==2.9.0
google-auth-oauthlib==0.4.6
google-images-download==2.8.0
google-pasta==0.2.0
gps==3.24
grpcio==1.47.0
h11==0.13.0
h5py==3.7.0
html5lib==1.1
idna==3.3
importlib-metadata==4.8.1
injector==0.19.0
ipykernel==6.15.1
ipython==8.4.0
ipython-genutils==0.2.0
jaraco.context==4.1.1
jaraco.functools==3.5.0
jaraco.text==3.8.0
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
json5==0.9.8
jsonschema==3.2.0
jupyter-client==7.3.4
jupyter-core==4.11.1
jupyter-packaging==0.12.2
jupyter-server==1.18.1
jupyterlab==3.4.3
jupyterlab-pygments==0.2.2
jupyterlab-server==2.15.0
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.3
lensfun==0.3.3
libclang==14.0.1
Mako==1.1.6
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mercurial==6.1.4
mistune==0.8.4
more-itertools==8.13.0
msgpack==1.0.3
nbclient==0.6.6
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.4
netsnmp-python==1.0a1
nftables==0.1
notebook==6.4.12
notebook-shim==0.1.0
nspektr==0.4.0
numpy==1.23.0
oauthlib==3.2.0
opencv-python==4.6.0.66
opt-einsum==3.3.0
optimus-manager==1.4
ordered-set==4.0.2
outcome==1.2.0
packaging==21.3
pandas==1.4.3
pandocfilters==1.5.0
parso==0.8.2
peewee==3.14.10
pep517==0.12.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
platformdirs==2.5.1
ply==3.11
prometheus-client==0.14.1
prompt-toolkit==3.0.30
protobuf==3.19.4
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pwquality==1.4.4
py3nvml==0.2.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.21.0
pycparser==2.21
pyenchant==3.2.2
Pygments==2.12.0
PyGObject==3.42.1
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyrsistent==0.18.1
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.20.0
python-prctl==1.8.1
python-xlib==0.31
pytz==2022.1
pyxdg==0.28
pyzmq==23.2.0
Reflector==2021.11.20.2.41.3
requests==2.27.1
requests-oauthlib==1.3.1
requests-unixsocket==0.3.0
resolvelib==0.8.1
rich @ file:///build/python-rich/src/rich-12.4.4/dist/rich-12.4.4-py3-none-any.whl
rsa==4.8
Rx==3.2.0
scikit-learn==1.1.1
scipy==1.8.1
selenium==4.3.0
Send2Trash==1.8.0
six==1.16.0
sklearn==0.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
stack-data==0.3.0
TBB==0.2
team==1.0
tenacity==8.0.1
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado==0.15.0
testpath==0.6.0
threadpoolctl==3.1.0
tinycss2==1.1.1
tomli==2.0.1
tomlkit==0.11.1
tornado==6.1
traitlets==5.3.0
trio==0.21.0
trio-websocket==0.9.2
trove-classifiers==2022.6.26
typing_extensions==4.2.0
urllib3==1.26.9
validate-pyproject==0.9
wcwidth==0.2.5
webdriver-manager==3.8.2
webencodings==0.5.1
websocket-client==1.3.3
Werkzeug==2.1.2
wrapt==1.14.1
wsproto==1.1.0
zipp==3.8.0
absl-py==1.1.0
anyio==3.6.1
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
astunparse==1.6.3
async-generator==1.10
attrs==21.4.0
autopep8==1.6.0
Babel==2.10.3
backcall==0.2.0
bbid @ git+https://github.com/ostrolucky/Bulk-Bing-Image-downloader@bb938f19a2c59841dedbc6e5515a061751af748c
Beaker==1.11.0
beautifulsoup4==4.10.0
bleach==5.0.0
btrfsutil==5.18.1
CacheControl==0.12.6
cachetools==5.2.0
certifi==2022.6.15
cffi==1.15.1
chardet==4.0.0
chrome-gnome-shell==0.0.0
colorama==0.4.5
commonmark==0.9.1
cryptography==37.0.2
cycler==0.11.0
debugpy==1.6.2
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
distlib==0.3.4
distro==1.7.0
docutils==0.19
entrypoints==0.4
executing==0.8.3
fastjsonschema==2.15.3
flatbuffers==1.12
fonttools==4.34.3
future==0.18.2
gast==0.4.0
google-auth==2.9.0
google-auth-oauthlib==0.4.6
google-images-download==2.8.0
google-pasta==0.2.0
gps==3.24
grpcio==1.47.0
h11==0.13.0
h5py==3.7.0
html5lib==1.1
idna==3.3
importlib-metadata==4.8.1
injector==0.19.0
ipykernel==6.15.1
ipython==8.4.0
ipython-genutils==0.2.0
jaraco.context==4.1.1
jaraco.functools==3.5.0
jaraco.text==3.8.0
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
json5==0.9.8
jsonschema==3.2.0
jupyter-client==7.3.4
jupyter-core==4.11.1
jupyter-packaging==0.12.2
jupyter-server==1.18.1
jupyterlab==3.4.3
jupyterlab-pygments==0.2.2
jupyterlab-server==2.15.0
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.3
lensfun==0.3.3
libclang==14.0.1
Mako==1.1.6
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mercurial==6.1.4
mistune==0.8.4
more-itertools==8.13.0
msgpack==1.0.3
nbclient==0.6.6
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.4
netsnmp-python==1.0a1
nftables==0.1
notebook==6.4.12
notebook-shim==0.1.0
nspektr==0.4.0
numpy==1.23.0
oauthlib==3.2.0
opencv-python==4.6.0.66
opt-einsum==3.3.0
optimus-manager==1.4
ordered-set==4.0.2
outcome==1.2.0
packaging==21.3
pandas==1.4.3
pandocfilters==1.5.0
parso==0.8.2
peewee==3.14.10
pep517==0.12.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
platformdirs==2.5.1
ply==3.11
prometheus-client==0.14.1
prompt-toolkit==3.0.30
protobuf==3.19.4
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pwquality==1.4.4
py3nvml==0.2.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.21.0
pycodestyle==2.8.0
pycparser==2.21
pyenchant==3.2.2
Pygments==2.12.0
PyGObject==3.42.1
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyrsistent==0.18.1
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.20.0
python-prctl==1.8.1
python-xlib==0.31
pytz==2022.1
pyxdg==0.28
pyzmq==23.2.0
Reflector==2021.11.20.2.41.3
requests==2.27.1
requests-oauthlib==1.3.1
requests-unixsocket==0.3.0
resolvelib==0.8.1
rich @ file:///build/python-rich/src/rich-12.4.4/dist/rich-12.4.4-py3-none-any.whl
rsa==4.8
Rx==3.2.0
scikit-learn==1.1.1
scipy==1.8.1
selenium==4.3.0
Send2Trash==1.8.0
six==1.16.0
sklearn==0.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
stack-data==0.3.0
TBB==0.2
team==1.0
tenacity==8.0.1
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado==0.15.0
testpath==0.6.0
threadpoolctl==3.1.0
tinycss2==1.1.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.1
tornado==6.1
traitlets==5.3.0
trio==0.21.0
trio-websocket==0.9.2
trove-classifiers==2022.6.26
typing_extensions==4.2.0
urllib3==1.26.9
validate-pyproject==0.9
wcwidth==0.2.5
webdriver-manager==3.8.2
webencodings==0.5.1
websocket-client==1.3.3
Werkzeug==2.1.2
wrapt==1.14.1
wsproto==1.1.0
zipp==3.8.0
